<div class="container mt-3">
      <div class="d-flex justify-content-between mt-3 mb-3">
            <h2>Dashboard</h2>
            <p><button routerLink="/admin/add" class="btn btn-primary fw-bold"><span class="fas fa-plus-circle"></span> Add
                        Album</button>
            </p>
      </div>
      <table class="table table-dark table-striped-columns table-hover rounded">
            <thead class="fw-bold rounded py-4">
                  <tr class="table-group">
                        <th scope="col" class="text-center">Id</th>
                        <th>Reference</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Duration</th>
                        <th>Update</th>
                        <th>Delete</th>
                  </tr>
            </thead>
            <tbody class="table-group-divider fw-semibold">
                  <tr *ngFor="let album of albums">
                        <th class="text-center"> {{ album.id }} </th>
                        <td class=""> {{ album.ref }} </td>
                        <td class=""> {{ album.name }} </td>
                        <td class=""> {{ album.title }} </td>
                        <td class=""> {{ album.duration }} </td>
                        <td class="">
                              <button type="button" class="btn btn-success px-4">
                                    <span class="fas fa-edit"></span>
                              </button>
                        </td>
                        <td class="">
                              <button type="button" class="btn btn-danger px-4">
                                    <span class="fas fa-trash"></span>
                              </button>
                        </td>
                  </tr>
            </tbody>
      </table>
      <div class="container mt-3 mb-3 p-0">
            <app-paginate (setPaginate)="onSetPaginate($event)"></app-paginate>
      </div>
</div>