<div class="container mt-3">
<div  class="d-flex justify-content-between mt-3 mb-3">
      <h2>Dashboard</h2>
      <p><button type="button" class="btn btn-primary fw-bold"><span class="fas fa-plus-circle"></span> Add Album</button></p>
</div>
      <table class="table table-dark table-hover rounded">
            <thead class="text-center fw-bold">
                  <tr class="">
                        <th scope="col">Id</th>
                        <th>Ref</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Duration</th>
                        <th>Update</th>
                        <th>Delete</th>
                  </tr>
            </thead>
            <tbody class="text-center fw-semibold">
                  <tr *ngFor="let album of albums">
                        <th scope="row"> {{ album.id }} </th>
                        <td> {{ album.ref }} </td>
                        <td> {{ album.name }} </td>
                        <td> {{ album.title }} </td>
                        <td> {{ album.duration }} </td>
                        <td><button type="button" class="btn btn-primary"><span class="fas fa-edit"></span></button></td>
                        <td><button type="button" class="btn btn-danger"><span class="fas fa-trash"></span></button></td>
                  </tr>
            </tbody>
      </table>
</div>