<div class="container mt-3">
      <div class="d-flex justify-content-between mt-3 mb-3">
            <h2 class="fs-1 fw-bold">Dashboard</h2>
            <p><button routerLink="/admin/add" class="btn btn-warning py-3 px-4 fw-bold fs-5"><span
                              class="fas fa-plus-circle"></span> Add
                        Album</button>
            </p>
      </div>

      <div class="alert alert-success mt-3 fw-bold position-relative" *ngIf="messageSuccess">
            <div> {{ messageSuccess }}
                  <button (click)="messageSuccess = undefined" class="btn-close position-absolute end-0 me-2 fs-5"></button>
            </div>
      </div>

      <div class="alert alert-success mt-3 fw-bold" *ngIf="msgSuccess">
            <div> {{ msgSuccess }} 
             <button (click)="msgSuccess = undefined" class="btn-close position-absolute end-0 me-2 fs-5"></button>
            </div>
       </div>

      <table class="table table-dark table-striped-columns rounded fw-bold" [@fadeInAnimation]>
            <thead class="rounded py-4">
                  <tr class="table-group">
                        <th scope="col" class="text-center">Id</th>
                        <th>Reference</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Duration</th>
                        <th>Update</th>
                        <th>Delete</th>
                  </tr>
            </thead>
            <tbody class="table-group-divider fw-bold">
                  <tr *ngFor="let album of albums">
                        <th class="text-center"> {{ album.id }} </th>
                        <td><a routerLink="/album/{{album.id}}"> {{ album.ref }} </a></td>
                        <td> {{ album.name }} </td>
                        <td> {{ album.title }} </td>
                        <td> {{ album.duration }} </td>
                        <td>
                              <button type="button" class="btn btn-success px-4">
                                    <span class="fas fa-edit" ></span>
                              </button>
                        </td>
                        <td>
                              <button type="button" class="btn btn-danger px-4">
                                    <span class="fas fa-trash" (click) = 'onDelete(albumId)' ></span>
                              </button>
                        </td>
                  </tr>
            </tbody>
      </table>
      <div class="container mt-3 mb-3 p-0 d-flex justify-content-center">
            <app-paginate (setPaginate)="onSetPaginate($event)"></app-paginate>
      </div>
</div>