<div class="container mt-3">
      <div class="d-flex justify-content-between mt-3 mb-3">
            <h2>Dashboard</h2>
            <p><button routerLink="/admin/add" class="btn btn-primary fw-bold"><span class="fas fa-plus-circle"></span>
                        Add
                        Album</button>
            </p>
      </div>

      <form action="" method="post">
            <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="name" placeholder="name">
                  <label for="floatingInput">Enter the name</label>
            </div>
            <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="title" placeholder="title">
                  <label for="floatingInput">Enter the title</label>
            </div>
            <div class="form-floating mb-3">
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
                  <label for="floatingTextarea">Enter the description</label>
            </div>
            <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="duration" placeholder="duration">
                  <label for="floatingInput">Enter the duration</label>
            </div>
            <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="like" placeholder="like">
                  <label for="floatingInput">Enter the like</label>
            </div>

      </form>


</div>