<div class="container mt-3">
      <div class="d-flex justify-content-between mt-3 mb-3">
            <h2>Dashboard</h2>
            <p><button routerLink="/admin/add" class="btn btn-primary fw-bold"><span class="fas fa-plus-circle"></span>
                        Add
                        Album</button>
            </p>
      </div>

      <form action="" method="post">
            <div class="form-floating mb-3">
                  <input type="text" formControlName="name" aria-describedby="nameHelp" class="form-control" id="name" placeholder="Enter artist name...">
                  <label for="name">Enter artist name...</label>
            </div>
      </form>


</div>