<!-- container du formulaire de login -->
<div class="container mt-3  text-light fw-bold d-flex flex-sm-column align-items-center pt-5 mt-5">
      <h2 class="text-light text-center">Get your password</h2>
      <form action="/" method="post" [@fadeInAnimation] class="col-sm-8">
            <div class="form-floating mb-5 mt-3">
                  <input type="email"
                        class="form-control form-control-lg text-light bg-black border-warning border border-1 px-3 focus-ring focus-ring-warning"
                        id="email" placeholder="Enter email" name="email" required>
                  <label for="email">Email</label>
            </div>
            <button type="submit"
                  class="btn btn-outline-warning border-warning border border-1 fw-bold w-100 py-3">Send
            </button>
      </form>
      <div class="btn-group mt-5">
            <button routerLink="./login" class="btn btn-light fw-bold">Cancel</button>
      </div>
</div>