<div class="position-relative" [@fadeInAnimation]>
      <div class="text-white list-group d-flex align-items-center NotFound">
            <p>
                  <strong class="fs-5 d-flex align-items-center mx-4"><i class="fas fa-exclamation-triangle fa-4x"></i></strong>
            </p>
            <p class="fs-1 fw-bold"> {{ chiffreNotFound }} {{ messageNotFound }} </p>
            <div class="card-footer text-center mb-3">
                  <button class="btn btn-warning fw-bold" routerLink="">Go to the home page</button>
            </div>
      </div>
</div>