body,
h1,
h2,
h3,
h4,
h5 {
      font-family: "Poppins", sans-serif
}


ul.navbar-nav a.nav-link {
      padding: 1rem 1.5rem;
      display: block;
      color: white;
      border-radius: 0.5rem;
      margin-inline: 0.1rem;
      transition: all 1s;
      font-size: 1.5rem;

}

ul.navbar-nav a:hover {
      background-color: white;
      color: black;
}

ul.navbar-nav a.active {
      background-color: white;
      color: black;
}

ul li a.dropdown-link {
      color: black;
      display: block;
      padding-block: 1rem;
      text-align: center;
      transition: all 1s;
} 

ul li a.dropdown-link:hover {
      background-color: black;
      color: white;
} 

ul li a.dropdown-link:active {
      background-color: black;
      color: white;
} 

div a.link {
      color: #2196f3;
}

footer a {
      text-decoration: none;
}
footer a:hover {
      text-decoration: 2px solid underline;

}

