<div class="container-fuild principal mb-5">
      <nav class="navbar navbar-expand-sm bg-black bg-gradient bg-opacity-100 px-4 py-4 fw-bold mb-4 position-sticky top-0 z-1 shadow rounded">
            <div class="navbar-brand">
                  <a class="nav-link text-warning" routerLink="./"><span class="fas fa-music fa-2x"></span></a>
            </div>
            <button class="navbar-toggler  text-white border border-2" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon text-light"></span>
            </button>
            <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav d-flex flex-wrap text-center">
                              <li class="nav-item">
                                    <a class="nav-link" routerLink="/albums" routerLinkActive="active">
                                          <span class="fas fa-home"></span> Home</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" routerLink="/login" routerLinkActive="active">
                                          <span class="fas fa-sign-in-alt"></span> Sign In</a>
                              </li>
                              <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                          Dashboard
                                    </a>
                                    <ul class="dropdown-menu">
                                          <li>
                                                <a class="dropdown-item fw-bold dropdown-link" routerLink="/admin" routerLinkActive="active">
                                                      <span class="fas fa-user-circle"></span>&nbsp;Admin</a>
                                          </li>
                                          <li>
                                                <a class="dropdown-item fw-bold dropdown-link active" routerLink="/logout" routerLinkActive="active">
                                                      <span class="fas fa-sign-out-alt"></span>&nbsp; Sign out</a>
                                          </li>
                                    </ul>
                              </li>
                              <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"  routerLinkActive="active" role="button" data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                          Forms
                                    </a>
                                    <ul class="dropdown-menu">
                                          <li>
                                                <a class="dropdown-item fw-bold dropdown-link active" routerLink="./template"
                                                      routerLinkActive="active"><span
                                                            class="fas fa-dot-circle"> </span>&nbsp;Template</a>
                                          </li>
                                          <li>
                                                <a class="dropdown-item fw-bold dropdown-link active" routerLink="/reactive" routerLinkActive="active">
                                                      <span class="far fa-dot-circle"> </span>&nbsp; Reactive</a>
                                          </li>
                                    </ul>
                              </li>
                        </ul>
                  </div>
                  <ul class="d-flex m-0" role="time">
                        <li class="m-0 list-group-item text-white fw-bold fs-5"><i class="fas fa-clock"></i> <span
                                    class="fw-bold mx-2">{{ count }}</span>
                        </li>
                  </ul>
                  <button class="nav-link text-white">
                        <span class="fas fa-toggle-on fw-bold mx-2" *ngIf="!darkMode"></span>
                        <span class="fas fa-toggle-off fw-bold mx-2" *ngIf="darkMode"></span>
                  </button>
            </div>
      </nav>

      <router-outlet></router-outlet>

</div>

<footer class="">
      <div
            class="container text-light text-center mt-5 pt-5 mb-0 pb-0 bg-black bg-gradient bg-opacity-100 rounded shadow-lg">
            <div class="row">
                  <div class="col-md-12">
                        <p> Copyright <span class="text-warning fw-bold">2023 </span><i class="fa fa-copyright"></i>
                              <a href="https://highfive.com" rel="sponsored" target="_parent"
                                    class="fw-bold text-warning"> Highfive
                                    University</a>
                        </p>
                  </div>
                  <div>
                        <p>
                              Create by: <a href="mailto:regisattolou21@outlook.fr" rel="sponsored" target="_blank"
                                    class="fw-bold text-warning">Régis ATTOLOU</a>
                        </p>
                  </div>
            </div>
      </div>
</footer>