body,
h1,
h2,
h3,
h4,
h5 {
      font-family: "Poppins", sans-serif
}


ul.navbar-nav a {
      padding: 0.5rem 1.5rem;
      margin: 1rem;
      display: block;
      color: white;
      border-radius: 0.5rem;

}

ul.navbar-nav a:hover {
      background-color: white;
      color: #212529;
}

ul.navbar-nav a.active {
      background-color: white;
      color: #212529;
}
