<div class="container-fuild principal mb-5">
      <nav
            class="navbar navbar-expand-sm bg-black bg-gradient bg-opacity-100 px-4 py-4 fw-bold fs-5 mb-4 position-sticky top-0 z-1 shadow rounded">
            <div class="navbar-brand">
                  <a class="nav-link text-warning" routerLink="./"><span class="fas fa-music fa-2x"></span></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                              <li class="nav-item">
                                    <a class="nav-link" routerLink="./albums" routerLinkActive="active"> <span
                                                class="fas fa-home"></span> Home</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" routerLink="./login" routerLinkActive="active"> <span
                                                class="fas fa-sign-in-alt"></span> Sign In</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" (click)="logout()" routerLink="./logout"
                                          routerLinkActive="active"> <span class="fas fa-sign-out-alt"></span>
                                          Sign out</a>
                              </li>
                        </ul>
                  </div>
                  <ul class="d-flex m-0" role="time">
                        <li class="m-0 list-group-item text-white fw-bold fs-5"><i class="fas fa-clock"></i> <span
                                    class="fw-bold mx-2">{{ time }}</span>
                        </li>
                  </ul>
                  <button class="nav-link text-white">
                        <span class="fas fa-toggle-on fw-bold mx-2" *ngIf="!darkMode"></span>
                        <span class="fas fa-toggle-off fw-bold mx-2" *ngIf="darkMode"></span>
                  </button>
            </div>
      </nav>

      <router-outlet></router-outlet>

</div>

<footer>
      <div class="container text-light text-center mt-5 pt-5 mb-0 pb-0 bg-black bg-gradient bg-opacity-100 rounded shadow-lg">
            <div class="row">
                  <div class="col-md-12">
                        <p><i class="fa fa-copyright"></i> Copyright 2023 by HIGHFIVE

                              Design: <a href="https://highfive.com" rel="sponsored" target="_parent"
                                    class="text-light">Highfive
                                    University</a>
                        </p>
                  </div>
                  <div>
                        <p>
                              Distributed By: <a href="mailto:regisattolou21@outlook.fr" rel="sponsored" target="_blank"
                                    class="text-light">Régis ATTOLOU</a>
                        </p>
                  </div>
            </div>
      </div>
</footer>
