<div class="col-sm-12 video shadow-lg position-relative bg-body-tertiary rounded">

      <h2 class="fs-4 fw-bold w3-text-red w3-white rounded m-1 p-4">Détails de chaque album:</h2>

      <div class="card" *ngIf="album">

            <img class="card-img-top rounded-bottom img-fluid p-0" src="{{ album.url }}" alt="Group Music">
            <div class="card-body">
                  <h5 class="card-title fs-4 fw-bold w3-text-blue"> {{ album.title }} </h5>
                  <p class="card-text fw-semibold"> {{ album.name }} </p>
                  <button class="btn btn-primary border-0 rounded fw-bold px-4 py-3 mx-2 text-uppercase"
                        (click)="play(album)" [ngClass]="{'fa 1x': !isPlaying, 'fa-1x': isPlaying}">
                        <!-- Affichez le tag [play] uniquement lorsque le bouton est inactif (isPlaying = false) -->
                        <span *ngIf="!isPlaying" class="text-white"> Play <i class="fas fa-pause-circle"></i></span>
                        <span *ngIf="isPlaying" class="text-white"> Stop <i class="fas fa-play-circle"></i></span>
                  </button>
                  <button class="btn btn-success border-0 rounded fw-bold mx-2 px-4 py-3 text-uppercase">
                        <span (click)="shuffleAlbumsLists()" class="text-white"> Shuffle <i class="fas fa-random"></i></span>
                  </button>
                  <button class="btn btn-danger border-0 rounded fw-bold px-4 py-3 text-uppercase" (click)="toggleRandomList()">
                        <span *ngIf="showRandomList" class="text-white"> Hide <i class="fas fa-toggle-off"></i></span>
                        <span *ngIf="!showRandomList" class="text-white"> Show <i class="fas fa-toggle-on"></i></span>
                  </button>
            </div>
            <ul class="list-group rounded-bottom m-0 border-0" *ngIf="showRandomList && albumsLists; else noalbumsLists">
                  <li class="list-group-item list-group-item-action w3-blue border-top-0 border-bottom-1 fw-semibold"
                  *ngFor="let detailsList of albumsLists"> {{ detailsList }}
                  </li>
            </ul>
            <!-- Au cas où nous n'avons pas de détails lists -->
            <ng-template #noalbumsLists>
                  <ul class="list-group rounded-bottom m-0 border-0">
                        <li
                              class="list-group-item list-group-item-action w3-blue border-top-0 border-bottom-1 fw-semibold">
                              Pas de détails Lists</li>
                  </ul>
            </ng-template>
      </div>

</div>