div.card {
      width: 100%;
      height: auto;
      animation: details 4s ease;
}

@keyframes details {

      0% {
        transform: translateY(-800px);
      }

      100% {
            transform: translateY(0px);
      }

}

div button.white {
      background-color: #faf7f7;
      width: 25px;
      height: 25px;
      color: white;
      border-radius: 50%;
}

button.buttonPlay {
      color: white;
      background-color: #0671c8;
      border: none;
      border-radius: 0.5rem;
      display: block;
      cursor: pointer;
      padding-block: 1rem;
      padding-inline: 2rem;
      font-size: 0.8rem;
}

button.buttonPlay:hover {
      color: white;
      background-color: #178ded;
}

button.buttonShuffle {
      color: white;
      background-color: #07922e;
      border: none;
      border-radius: 0.5rem;
      display: block;
      cursor: pointer;
      padding-block: 0.6rem;
      padding-inline: 1.5rem;
      font-size: 1rem;
      margin-left: 1rem;
}
button.buttonShuffle:hover {
      color: white;
      background-color: #057d27;
}