<div class="col-sm-12 video shadow mb-4 bg-dark rounded mt-5">
      <h2 class="fs-5 fw-semibold text-light p-4">Détails de chaque album:</h2>
      <div class="card" *ngIf="album">
            <img class="card-img-top rounded-bottom" src="../../assets/img/paris.jpg" alt="Group Music">
            <div class="card-body">
                  <h5 class="card-title"> {{ album.title }} </h5>
                  <p class="card-text"> {{ album.name }} </p>
                  <a href="#" class="btn btn-primary fw-bold">Play >> </a>
            </div>
            <ul class="list-group rounded-bottom">
                  <li class="list-group-item list-group-item-action list-group-item-dark fw-semibold"  *ngFor = "let detailsLists of dLists"> {{ detailsLists }} </li>
            </ul>
      </div>
</div>