div.details {
      width: 415px;
      height: auto;
      animation: details 4s ease;
 
}

@keyframes details {

      0% {
         right: 0%;
      }

      100% {
            left: 100%;
      }

}