div.card {
      width: 415px;
      height: auto;
      animation: details 4s ease;
 
}

@keyframes details {

      0% {
        transform: translateY(-800px);
      }

      100% {
            transform: translateY(0px);
      }

}