<!-- La navbar  -->
<nav class="navbar shadow-lg mb-5 bg-body-tertiary p-4 rounded  w3-white">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold w3-text-blue">{{search}}</a>
        <form class="d-flex align-middle" role="search" (ngSubmit)="onSubmit(formSearch)" #formSearch="ngForm">
            <input name="word" ngModel required class="form-control me-2 border-2 fw-semibold" type="search"
                placeholder="Search a album..." aria-label="Search" [(ngModel)]="searchKeyword">
            <button class="btn btn-outline-primary border-2 fw-semibold" type="submit"
                (click)="searchAlbums()" [disabled]="formSearch.invalid">Search</button>
        </form>
    </div>
</nav>
<!-- La navbar search fin -->