<!-- La navbar  -->
<div class="container-fluid p-0">
<nav class="navbar shadow-lg mb-5 bg-black rounded">
        <form class="form-floating d-flex col-sm-12" role="search" (ngSubmit)="onSubmit(formSearch)" #formSearch="ngForm">
            <input name="word" (ngModelChange)="onChangedEmit($event)" ngModel class="form-control form-control-lg me-2 border-warning focus-ring focus-ring-warning border border-1 bg-black text-white fw-semibold py-4" type="search" placeholder="Search a album..." aria-label="Search" [(ngModel)]="word"  required>
            <label for="form-search">Search a album...</label>
            <button class="btn btn-outline-warning border-1 focus-ring focus-ring-warning fw-bold" type="submit"
                [disabled]="formSearch.invalid">Search</button>
            <div * ngIf="searchResults.length > 0">
                <ul>
                    <li *ngFor="let album of searchResults">
                        {{ album.title }}
                    </li>
                </ul>
            </div>
        </form>
    </nav>
</div>
<!-- La navbar search fin -->
<div class="mt-3 mb-3">
    <app-audio-player></app-audio-player>
</div>
