div.detailsLink a:hover {
      text-decoration: none;
      color: #0d6efd;
}

div.detailsLink a {
      text-decoration: underline;
      color: white;
}

div.message {
      position: absolute;
      left: 30%;
      top: 50%;
}

