div.detailsLink a {
      text-decoration: none;
      color: #2196f3;
}

div.detailsLink a:hover {
      text-decoration: underline;
      color: #151515;
}

div.message {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      transform: translate(-50%, -50%);
}

strong.notif {
     padding: 30rem;
}
