div.detailsLink a:hover {
      text-decoration: none;
      color: #2196f3;
}

div.detailsLink a {
      text-decoration: underline;
      color: white;
}

div.message {
      position: absolute;
      left: 30%;
      top: 70%;
}

