<app-search (searchAlbums)="search($event)"></app-search>

<div class="row content fs-5" [@fadeInAnimation]>

      <div class="col-md-4 pt-4 video">
            <!-- onPlay méthode enfant et playParent méthode parent -->
            <app-album-details [album]="selectedAlbum" (onPlay)="playParent($event)"
                  (onHide)="resetSelectedAlbum()"></app-album-details>
            <!-- AlbumDetails communication parent vers enfant -->
      </div>

      <div class="col-md-8">
            <!-- section de titre principale start-->
            <h1 class="mt-4 mb-3 pt-0 position-relative fs-1 fw-bold text-white">{{ titlePage }}
                  <button type="button"
                        class="float-end border border-2 rounded shadow w3-black position-relative fw-bold fs-5 px-4 py-2"><i class="fas fa-record-vinyl"></i>
                        Albums <span
                              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-black fw-bold fs-5 px-3 py-2"></span>
                  </button>
            </h1>
            <!-- section de titre principale end -->

            <app-paginate (setPaginate)="onSetPaginate($event)"></app-paginate>

            <!-- la div card qui permet d'afficher la liste des différentes albums -->
            <ng-container *ngIf="albums; else noAlbumsFound">
                  <div class="card shadow-lg mb-5 bg-body-tertiary w3-white border-0" *ngFor="let album of albums;">

                        <!-- card-header start -->
                        <div class="card-header bg-warning text-black fs-4 fw-bold py-4 text-uppercase">
                              {{album.ref}}
                        </div>

                        <!-- card-body -->
                        <div class="card-body d-flex flex-wrap mb-0 bg-black bg-gradient bg-opacity-100">
                              <div class="mb-3 detailsLink">
                                    <a class="card-title fw-semibold fs-5 d-block py-2"
                                          routerLink="/album/{{album.id}}">{{album.title}}</a>
                              </div>
                              <h1 class="float-end fw-bold fs-4 text-capitalize text-warning"
                                    *ngIf="status === album.id">
                                    <div [ngClass]="{ 'spinner-border text-warning': album.status === 'on' }"></div>
                              </h1>
                              <p class="card-text text-light">{{album.description}}</p>
                              <ul class="list-group py-1 d-inline-block" *ngIf="album.tags">
                                    <a class="nav-item text-decoration-none text-white bg-gradient rounded mx-1 px-3 py-1"
                                          *ngFor="let listWord of album.tags"> {{ listWord }}</a>
                              </ul>
                        </div>

                        <!-- card-footer -->
                        <div class="card-footer">
                              <a class="btn btn-outline-dark fw-semibold px-4 py-1 border-3" href="#" role="button">
                                    <i class="fa fa-language fa-2x"></i>
                              </a>
                              <ng-container *ngIf="album.like">
                                    <img class="glyph-icon mx-1 img-fluid" width="20px" height="auto"
                                          src="../assets/svg/si-glyph-heart.svg" />
                                    <small>{{album.like}}</small>
                              </ng-container>
                              <ng-template [ngIf]="album.duration">
                                    <img class="glyph-icon mx-1 img-fluid" width="20px" height="auto"
                                          src="../assets/svg/si-glyph-timer.svg" />
                                    <small class="fw-semibold">{{album.duration}} min</small>
                              </ng-template>
                              <a class="btn btn-warning rounded fw-bold px-4 py-2 mx-2 fs-5" role="button"
                                    (click)="onSelect(album)">Details</a>
                        </div>

                  </div>
            </ng-container>
            <!-- end de la div qui permet d'afficher les albums -->

            <!-- message qui s'affiche lorsqu'un albums n'existe pas -->
            <ng-template #noAlbumsFound class="position-relative">
                  <div class="message" [@fadeInAnimation]>
                        <div class="text-white list-group d-flex align-items-center notif">
                              <p>
                                    <strong class="fs-5 d-flex align-items-center mx-4"><i
                                                class="fas fa-exclamation-triangle fa-4x"></i></strong>
                              </p>
                              <p class="fs-1 fw-bold"> Aucun album de ce nom trouvé ! </p>
                        </div>
                  </div>
            </ng-template>
            <!-- fin de la balise du message qui s'affiche lorsqu'un albums n'existe pas -->

      </div>
      <!-- end div albums -->

</div>